<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>SPA</title>
</head>
<body>
<div class="d-flex flex-column justify-content-center align-items-center vh-90">
    <div class="container">
        <img src="{% static 'img/main_logo.png' %}" class="img-fluid mx-auto d-block"
             style="width: 700px; height: 200px;">
        <h4 style="text-align: center; margin: 20px 0;">Мы работаем с аптеками г. Ульяновск</h4>
        <form action="{% url 'SPA_app:search' %}" method="GET">
            <div class='d-flex flex-row w-75 mx-auto d-block' id="input-container">
                <input type="text" onkeyup="check_input()" name="query" class="border-0 text-input" placeholder="Введите название препарата">
                <input type="submit" class="border-0 btn" id="search_btn" value>
            </div>
        </form>
        <div id="validation" style="text-align: center;"></div>
    </div>
</div>
</body>
{% include 'footer.html' %}
 <script>
    function check_input(){
    if(document.querySelector('.text-input').value.length < 3){
        document.querySelector('#validation').innerHTML = "В названии должно быть минимум 3 символа";
    }
    else{
        document.querySelector('#validation').innerHTML = "";
    }
}
</script>
</html>
