{% extends "base.html" %}
{% block title %}SPA{% endblock %}
{% block content %}
<div class="container">
    <div>
    <form action="{% url 'SPA_app:search' %}" method="GET">
        <div class='d-flex flex-row' id="input-container">
            <input type="text" name="query" class="border-0 text-input"  placeholder="Введите название препарата">
            <input type="submit" class="border-0 btn" id="search_btn" value>
        </div>          
    </form>
    <div>
        <div class="container justify-content-between" id="sort-container">
            <div>Нашлось: {{ page|length }} </div>
            <div id="select-container">
                <div>Сортировка: </div>
                <select onchange="this.form.submit()" name="sort">
                {% for option, value in sort_list %}
                    {% if option == sort %}
                        <option value={{ option }} selected>{{ value }}</option>
                    {% else %}
                        <option value={{ option }}>{{ value }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
        
    </div>
    
    </div>
    <div class="container" id="results">
        {% for medicine in page %}
        <div class='container' id="result-container">
            <div id="medicine-info">
                    <img src={{ medicine.photo }} width="150" height="100">
                    <div class="product-info">
                        <p>{{ medicine.name }}</p>
                        <p>{{ medicine.price }} руб.</p>
                </div>
                
            </div>
            
            <div class="float-end" id="arrow-container">
                <a href="{{ medicine.url }}">
                    <img src="https://www.svgrepo.com/show/80501/big-right-arrow.svg">
                </a>
            </div>  
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?query={{ query }}&sort={{ sort }}&page=1">&laquo; 1</a>
            <a href="?query={{ query }}&sort={{ sort }}&page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            {{ page.number }} of {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next %}
            <a href="?query={{ query }}&sort={{ sort }}&page={{ page.next_page_number }}">Следующая</a>
            <a href="?query={{ query }}&sort={{ sort }}&page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}